---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>My Account</h1>

  <script type="module">
    import { Clerk } from '@clerk/clerk-js';

    const clerk = new Clerk(import.meta.env.PUBLIC_CLERK_FRONTEND_API);
    await clerk.load();

    if (clerk.user) {
      const email = clerk.user.emailAddresses[0].emailAddress;
      document.body.innerHTML += `<p>Welcome, ${email}</p>`;
    }
  </script>
</BaseLayout>