# build output
dist/

# generated types
.astro/typography-demo

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Netlify build output
.netlify/
sandbox/**
build/

# Node modules & Yarn files
node_modules/
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
yarn.lock.netlify/plugins/
