---
import VendorPortalLayout from '@/layouts/VendorPortalLayout.astro';
import MessagesInterface from '@/components/vendor-portal/MessagesInterface';
const title = 'Messages';
---

<VendorPortalLayout title={title} noindex>
  <div class="bg-transparent text-white">
    <MessagesInterface client:load />
  </div>
</VendorPortalLayout>
