---
import VendorPortalLayout from '@/layouts/VendorPortalLayout.astro';
import OrdersPage from '@/components/vendor-portal/OrdersPage';
const title = 'Orders';
---

<VendorPortalLayout title={title} noindex>
  <div class="bg-transparent text-white">
    <OrdersPage client:load />
  </div>
</VendorPortalLayout>
