---
import BaseLayout from '../layouts/BaseLayout.astro';
import SalePage from '@/components/sales/BlackFridaySale';
---

<BaseLayout>
  <section>
    <SalePage client:load />
  </section>
</BaseLayout>
