---
import BaseLayout from '../layouts/BaseLayout.astro';
import ShoppingCartDisplay from '@/components/storefront/ShoppingCart.tsx';

export const prerender = false;

const canonicalUrl = Astro.url?.href;
---

<BaseLayout title="Shopping Cart" description="Review the items in your shopping cart." canonical={canonicalUrl}>
  <div class="pt-20">
    <ShoppingCartDisplay client:only="react" />
  </div>
</BaseLayout>
