---
import BaseLayout from '../layouts/BaseLayout.astro';
import ShoppingCartDisplay from '@/components/storefront/ShoppingCart';
---

<BaseLayout title="Shopping Cart" description="Review the items in your shopping cart." canonical={new URL(Astro.request.url).toString()}>
  <div class="pt-20">
    <ShoppingCartDisplay client:load />
  </div>
</BaseLayout>