---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <main class="flex min-h-screen pt-10 overflow-hidden text-white font-captain">
    <!-- Mobile nav -->
    <nav class="sm:hidden w-[100%] h-[250px] bg-black/80 border-b border-white/10 p-4 ml-2 flex-wrap mt-20 pt-20 justify-center gap-4 text-xs font-captain rem-1.2 scroll-smooth">
      <a href="/customerdashboard/customerProfile" class="hover:text-red-500">My Profile</a>
      <a href="/customerdashboard/userOrders" class="hover:text-red-500">Orders</a>
      <a href="/customerdashboard/UserQuotes" class="hover:text-red-500">Quotes</a>
      <a href="/customerdashboard/userInvoices" class="hover:text-red-500">Invoices</a>
      <a href="/customerdashboard/userAppointments" class="hover:text-red-500">Appointments</a>
      <a href="/logout" class="text-red-600 hover:underline">Logout</a>
    </nav>
    <!-- Sidebar -->
    <aside class="hidden sm:block bg-black/70 border-white/10 p-4 sm:p-6 border-b sm:border-b-0 sm:border-r sm:mt-12 sm:pt-10 sm:mb-3 sm:mx-3 sm:w-64 space-y-6 w-full">
    
      <p class="uppercase pt-20">Welcome, <span class="text-red-500">Guest</span></p>
      <nav class="mt-6 pt-5 space-y-3 text-base font-ethno">
        <a href="/customerdashboard/customerProfile" class="block hover:text-red-500">My Profile</a>
        <a href="/customerdashboard/userOrders" class="block hover:text-red-500">Orders</a>
        <a href="/customerdashboard/UserQuotes" class="block hover:text-red-500">Quotes</a>
        <a href="/customerdashboard/userInvoices" class="block hover:text-red-500">Invoices</a>
        <a href="/customerdashboard/userAppointments" class="block hover:text-red-500">Appointments</a>
        <a href="/logout" class="block pt-10 text-red-600 hover:underline mt-4">Logout</a>
      </nav>
    </aside>

    <!-- Main panel -->
    <section class="relative flex-auto content-start mt-10 p-20">
      <h1 class="text-3xl mr-20 pr-10 font-borg text-primary text-left mb-2">F.a.S.</h1>
      <h1 class="text-2xl font-ethno text-white pr-10 mr-20 text-left mb-6">Motorsports</h1>
      <h2 class="text-base pr-12 mr-10 font-cyber-italic text-left mb-6">ACCOUNT DASHBOARD</h2>

      <p class="text-center text-lg">Welcome to your account dashboard. Use the menu to view your profile, orders, and more.</p>
    </section>
  </main>
</BaseLayout>