---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="min-h-screen flex items-center justify-center text-white">
    <div class="w-full max-w-md p-8 bg-white/5 rounded-2xl backdrop-blur-md border border-white/10 shadow-lg">
      <h1 class="text-center text-3xl font-ethno mb-6 tracking-tight">Welcome Back to FAS Motorsports</h1>
      <clerk-sign-in
        appearance="standard"
        routing="path"
        sign-up-url='/sign-up'
        after-sign-in-url='/account'
        after-sign-up-url='/account'
      />
    </div>
  </section>
</BaseLayout>