<footer class="mt-20 bg-black text-white text-sm font-captain tracking-wider px-4 py-6">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-[auto_1fr_auto] items-center gap-6 text-center">
    <!-- Left: FAS Logo -->
    <div class="flex-shrink-0">
      <img src="/images/faslogochroma.png" alt="F.A.S. Motorsports Logo" class="h-12" />
    </div>

    <!-- Right: Text and Links -->
    <div class="col-span-full md:col-span-2">
      <div class="mb-4">
        <p class="uppercase">Copyright © 2025 F.A.S. Motorsports</p>
        <p class="uppercase">All Rights Reserved by F.A.S. Motorsports</p>
        <p class="text-xs font-montserrat text-white/50 mt-2 flex items-center justify-center gap-2">
          <img src="/logo/launchwell brands logo white.png" alt="LaunchWell Brands logo" class="h-4" />
          Website by <a href="https://launchwellbrands.com" class="font-montserrat hover:text-accent">LaunchWell Brands</a>
        </p>
      </div>
      <div class="space-x-2">
        <a href="/privacypolicy" class="hover:text-accent transition-colors duration-300">Privacy Policy</a>
        <span class="text-white/50">|</span>
        <a href="/warranty" class="hover:text-accent transition-colors duration-300">Warranty</a>
        <span class="text-white/50">|</span>
        <a href="/termsandconditions" class="hover:text-accent transition-colors duration-300">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
