---
// src/pages/account/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
const accountAuthScript = new URL('../../scripts/account-auth.ts', import.meta.url).toString();
---

<BaseLayout hideBrandTag={true}>
  <main class="relative text-white p-8">
    <div id="account-view"></div>
    <script type="module" src={accountAuthScript}></script>
  </main>
</BaseLayout>
