---
// src/pages/account/index.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import accountAuthUrl from "../../scripts/account-auth.ts?url";
---
import BaseLayout from "../../layouts/BaseLayout.astro";
import accountAuthUrl from "../../scripts/account-auth.ts?url";
---

<BaseLayout hideBrandTag>
  <main class="relative text-white p-8">
    <div id="account-view"></div>
    <script type="module" src={accountAuthUrl}></script>
  </main>
</BaseLayout>