---
import ClerkSignIn from '@clerk/astro';
---

<title>Sign In</title>

<body class="bg-black text-white flex items-center justify-center min-h-screen p-4">
    <main class="w-full max-w-md bg-gray-900 rounded-lg p-6 shadow-lg">
      <h1 class="text-2xl font-bold mb-4 text-center">Sign in to Your Account</h1>
      <ClerkSignIn />
    </main>
</body>
</html>