---
import { fetchProductsFromSanity } from '@lib/sanity-utils';
import BuildConfiguratorClient from '@/components/packageComps/BuildConfiguratorClient';

// Fetch products from Sanity; client will derive facets (attributes/specifications)
const products = await fetchProductsFromSanity({});
---

<section class="text-white space-y-6 mt-12">
  <div>
    <h2 class="font-ethno text-2xl mb-2">Build Configurator</h2>
  </div>

  <BuildConfiguratorClient client:load products={products} />
</section>
